* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-100: #d4eaf7;
    --primary-200: #b6ccd8;
    --primary-300: #3b3c3d;
    --accent-100: #43758f;
    --accent-200: #d7ffff;
    --text-100: #1d1c1c;
    --text-200: #313d44;
    --bg-100: #fffefb;
    --bg-200: #f5f4f1;
    --bg-300: #cccbc8;
}

body {
    background-color: var(--bg-200);
}

.adduser {
    padding: 20px;
    border-radius: 15px;
    background-color: var(--accent-100);
    font-weight: bold;
    color: var(--accent-200);
    accent-color: var(--accent-100);
}

.adduser button {
    background-color: var(--accent-200);
    color: var(--accent-100);
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.error{
    color: darkred;
}